doctype html
html
  head
    title= Transactions
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css')
  body
    block content
    block bodyjs
